/* assets/modo-oscuro.css */
body.modo-oscuro {
  background-color: #121212 !important;
  color: #f0f0f0 !important;
}

/* Tablas */
body.modo-oscuro .table,
body.modo-oscuro table {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.modo-oscuro .table th,
body.modo-oscuro th {
  background-color: #2c2c2c;
  border: 1px solid #ffffff;
  color: #fff;
}

body.modo-oscuro td {
  background-color: #2c2c2c;
  color: #f0f0f0;
}

/* Formularios */
body.modo-oscuro .form-control,
body.modo-oscuro .form-select,
body.modo-oscuro input,
body.modo-oscuro select,
body.modo-oscuro textarea {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* Botones */
body.modo-oscuro .btn-outline-dark,
body.modo-oscuro button {
  background-color: transparent;
  border-color: #ffffff;
  color: #f0f0f0;
}

body.modo-oscuro .btn-outline-dark:hover {
  background-color: #f0f0f0;
  color: #121212;
}

/* Alertas */
body.modo-oscuro .alert {
  background-color: #2c2c2c;
  color: #f0f0f0;
  border-color: #ffffff;
}

.textForm {
  color: #f0f0f0 !important;
}

.footer{
  /*colocar texto en color blanco*/
  color: #f0f0f0 !important;
}
body.modo-oscuro .text-muted {
  color: #f0f0f0 !important;
}
