/* assets/modo-oscuro.css */
body.modo-oscuro {
    background-color: #121212 !important;
    color: #f0f0f0 !important;
  }
  
  body.modo-oscuro .table {
    background-color: #1e1e1e;
    color: #f0f0f0;
  }
  
  body.modo-oscuro .table th {
    background-color: #2c2c2c;
    color: #fff;
  }
  
  body.modo-oscuro .form-control,
  body.modo-oscuro .form-select {
    background-color: #2c2c2c;
    color: #fff;
    border-color: #444;
  }
  
  body.modo-oscuro .btn-outline-dark {
    border-color: #f0f0f0;
    color: #f0f0f0;
  }
  
  body.modo-oscuro .btn-outline-dark:hover {
    background-color: #f0f0f0;
    color: #121212;
  }
  
  body.modo-oscuro .alert {
    background-color: #2c2c2c;
    color: #f0f0f0;
    border-color: #444;
  }
  